body, div, a, h1, h2, h3, h4, p, ul, li, p{
    color: #5C3A47;
    font-family: 'Luxurious Roman', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color: #5C3A47;
    text-decoration: none;
    transition: 0.2s;
}

li{
    list-style: none;
}

img {
    border: none;
    vertical-align: top;
}

button{
    border: 0;
    background-color: transparent;
    font-size: 20px;
    font-weight: 550;
    color: #5C3A47;
    font-family: 'Luxurious Roman', sans-serif;
}

#body{
    background: #ffffff;
    font-family: 'Luxurious Roman',sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6em;
    color: #5C3A47;
    letter-spacing: 0;
}

#wrapper{
    width: 100%;
    position: relative;
}

.container{
    padding-top: 100px;
}

.container .contents{
    padding: 0 3%;
    box-sizing: border-box;
}

.container .contents .login{
    padding: 60px 0;
    text-align: center;
}

.container .contents .login .loginTxt{
    margin: 0 0 27px;
}

.container .contents .login .loginTxt h4{
    font-size: 30px;
    font-weight: 580;
}

.container .contents .login .id-input{
    width: 98%;
    height: 34px;
    line-height: 30px;
    padding: 2px 1%;
    border: 0 none;
    color: #000;
    background: transparent;
    margin-bottom: 10px;
}

.container .contents .login .pw-input{
    width: 98%;
    height: 34px;
    line-height: 30px;
    padding: 2px 1%;
    border: 0 none;
    color: #000;
    background: transparent;
    margin-bottom: 30px;
}

.container .contents .login .id-input .id, .password{
    background: #BCA6AF;
    width: 15%;
    height: 20px;
    padding: 10px;
    border-radius: 50px;
    border-style: none;
}

.container .contents .login .id-input .id::placeholder, .password::placeholder {
    color: #5C3A47;
    font-family: 'Luxurious Roman', sans-serif;
    padding-left: 10px;
}

.container .contents .login .sign-in{
    display: inline-block;
    width: 15%;
    padding: 8px;
    border: 1px solid #5C3A47;
    text-align: center;
}

.container .contents .login .sign-in .sign-in-btn{
    font-size: 20px;
    font-weight: 550;
}

.container .contents .login .find {
    font-size: 13px;
    margin: 15px;
}

.container .contents .login .sign-up{
    display: inline-block;
    width: 15%;
    padding: 8px;
    margin-top: 30px;
    border: 1px solid #5C3A47;
    text-align: center;
}

.container .contents .login .sign-up .sign-up-btn{
    font-size: 20px;
    font-weight: 550;
}


